h3,
h5 {
  color: #2334f7;
  opacity: 50%;
  text-align: center;
}

.card-text {
  text-align: center;
  font-size: 75px;
}

.container {
  height: 500px;
  padding: 10px;
  background: linear-gradient(#d9edfd, #fad9fc);
  border-radius: 25px;
  widows: 500px;
}

.unit-links {
  color: #f4e711;
}

.card-body {
  width: 300px;
  position: absolute;
  right: 260px;
}
.card-texts {
  text-align: center;
  border-radius: 15px;
  background: linear-gradient(#2334f7, #f1b7cc);
  color: #f4e711;
  padding: 40px;
}

.emojis {
  font-size: 35px;
}

.city {
  display: block;
  margin: 0 auto;
  text-align: center;
}

input.searchbutton {
  background-color: #ffff;
  border-radius: 10px;
  color: #00000;
  border: none;
}

input.typecity {
  color: #2334f7;
}

.card-weather {
  display: flex;
  position: relative;
  top: 200px;
  left: 180px;
  background: linear-gradient(#2334f7, #f1b7cc);
  list-style-type: none;
  text-align: center;
  border-radius: 15px;
  max-width: 300px;
}

.signature {
  color: #2334f7;
  position: absolute;
  top: 500px;
  right: 300px;
}
