h3,
h5 {
  color: #2334f7;
  text-align: center;
}


.container {
  background: linear-gradient(#d9edfd, #fad9fc);
  border-radius: 5px;
  max-width: fit-content;
  margin: 30px auto;
 
}

.unit-links {
  color: #f4e711;
}


.card-body {
  border-radius: 5px;
  background: linear-gradient(#2334f7, #f1b7cc);
  color: #f4e711;
  text-align: center;
  
}


.city {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
  
}

input.searchbutton {
  background-color: #ffff;
  border-radius: 10px;
  color: #f1b7cc;
  border: none;
  
}

input.typecity {
  color: #2334f7;
}


.location {
  display: block;
  margin: 0 auto;
  background-color: #f1b7cc;
  color: #2334f7;
  border-radius: 15px;
  border: none;
}

#fahrenheit,
#celseius {
  color:#f1b7cc;
}


#description {
  text-transform:capitalize;
 
}

#temperature {
  font-size: 25px;
}

.card-body .active{
  color:#f1b7cc;
  cursor: default;
  text-decoration: none;

}

.card-body .active:hover{
  text-decoration: none;
  
}

.weather-forecast {
  margin-top: 20px;
  display:flex;
  text-align:center;
  color:#2334f7;

}

.weather-forecast-date
{
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-min {
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 13px;
}


